$text:#ffffff;
$subtext:#333333;
$gray3: #828282;
$span: #3882C2;
$title:#184E2A;
$title2:#224121;
$pdf:#FFDF2C;
$btn-color: #000000;

$fon-head: #184E2A;



$mediaWidthMobileSmall: 320px;
$mediaWidthMobile: 480px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 992px;
$mediaWidthLaptop: 1200px;
