@import './variable';
@import './common/media';

//footer
.footer {
background: $title2;
padding-top: 39px;
padding-bottom: 56px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
}
.footer-logo {
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
    }
}
.footer-nav {
    max-width: 405px;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex-wrap: wrap;
    }
		&__link {
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin-right: 50px;
            outline: none;
            text-decoration: none;
            cursor: pointer;

        }
        &__link:hover {
            color: $hover;
        }
        li:nth-child(1) {
            a {
                margin-right: 65px;
            }
        }
        li:nth-child(2) {
            a {
                margin-right: 30px;
            }
        }
        li:nth-child(3) {
            
            a {
                margin-right: 0px;
            }
        }
        li:nth-child(4) {
            margin-top: 17px;
            a {
                margin-right: 49px;
            }
        }
        li:nth-child(5) {
            margin-top: 17px;
            a {
                margin-right: 0px;
            }
        }
        
}
.footer-connection {
    margin-right: 72px;
		&_number {
            display: flex;
            flex-direction: column;
            a {
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
                outline: none;
                text-decoration: none;
                margin-bottom: 10px;
                cursor: pointer;

            }
            a:nth-child(2) {
                margin-bottom: 23px;
            }
        }
        
        a {
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            outline: none;
            text-decoration: none;
            cursor: pointer;

        }
        a:hover {
            color: $hover;
        }
}
.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-bottom {
    // margin-top: 20px;
    width: 670px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
        outline: none;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #ffffff;
        cursor: pointer;
    }
    a:nth-child(2) {
        margin-right: 0;
    }
}
.footer-btn {
    width: 210px;
    height: 40px;
    
}

.footer-btn_wrap {
    margin-top: 0;
}

/* COOKIE */


.footer-cookie {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 7px 46px;
    border: 1px solid #2375AC;
    border-left: none;
    border-right: none;
    z-index: 510;
  }
  
  .footer-cookie-x {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
  }
  
  .footer-cookie-p {
    font-size: 12px;
    font-family: "Matahari";
    font-style: normal;
    font-weight: normal;
    margin-right: 20px;
    text-align: center;
  }
  
  .footer-cookie-a {
    font-size: 12px;
    color: #0F54A0;
    cursor: pointer;
    transition: .5s;
    display: inline-block;
  }
  
  .footer-cookie-sgl {
    font-family: "Matahari";
    background-color: transparent;
    color: green;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: .5s;
  }
  



//1200px
@include media-laptop {
    .footer-container{
        margin-bottom: 20px;
    }
    .footer-nav{
        ul {
            flex-direction: column;
        }
        li:nth-child(1) {
            a {
                margin-right: 0px;
            }
        }
        li:nth-child(2) {
            margin-top: 17px;

            a {
                margin-right: 0px;
            }
        }
        li:nth-child(3) {
            margin-top: 17px;

            a {
                margin-right: 0px;
            }
        }
        li:nth-child(4) {
            margin-top: 17px;
            a {
                margin-right: 0px;
            }
        }
        li:nth-child(5) {
            margin-top: 17px;
            a {
                margin-right: 0px;
            }
        }
    }
    .footer-bottom {
        width: 100%;
    }
}
//992px
@include media-tablet-horizontal {
    .footer-bottom{
        justify-content: space-between;
    }
    .footer-connection{
        margin-right: 0;
    }
    .footer-wrap{
        flex-direction: column;
    }
}
//767px
@include media-tablet {
    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav{
        margin-top: 20px;
        ul {
            flex-direction: row;
            justify-content: center;
            width: 320px;
        }
        li:nth-child(1) {
            a {
                margin-right: 10px;
            }
        }
        li:nth-child(2) {
            margin-top: 0px;

            a {
                margin-right: 10px;
            }
        }
        li:nth-child(3) {
            margin-top: 0px;

            a {
                margin-right: 0px;
            }
        }
        li:nth-child(4) {
            margin-top: 10px;
            a {
                margin-right: 50px;
            }
        }
        li:nth-child(5) {
            margin-top: 10px;
            a {
                margin-right: 0px;
            }
        }
    }
    .footer-connection{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-btn{
        margin-top: 20px;
    }
    .footer-bottom{
        margin-top: 40px;
    }
}
@include media-custom (573px) {
    .footer{
        padding-bottom: 40px;
    }
    .footer-bottom{
        flex-direction: column;
        justify-content: center;
        a {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}
@include media-custom (550px) {
    .footer-cookie {
        align-items: flex-start;
        flex-direction: column;
        padding-right: 10px;
    }

    .footer-cookie-p {
        text-align: left;
    }

    .footer-cookie-sgl {
        padding: 0;
    }
}
//480px
@include media-mobile {
    .footer-nav{
        ul {
            flex-direction: column;
            align-items: center;
        }
        li:nth-child(1) {
            a {
                margin-right: 0px;
            }
        }
        li:nth-child(2) {
            margin-top: 10px;

            a {
                margin-right: 0px;
            }
        }
        li:nth-child(3) {
            margin-top: 10px;

            a {
                margin-right: 0px;
            }
        }
        li:nth-child(4) {
            margin-top: 10px;
            a {
                margin-right: 0px;
            }
        }
        li:nth-child(5) {
            margin-top: 10px;
            a {
                margin-right: 0px;
            }
        }
    }
}
//320px
@include media-mobile-small {
   
}