@import './variable';
@import './common/media';


.popup-group {
}
.popup-application {
    position: absolute;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
    background: #ffffff;
    display: none;

}
.application-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: url(../../css/img/fon-modal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 20px 20px 53px 33px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        padding: 19px 150px 14px 30px;
        border: 1px solid #3882C2;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    input:nth-child(4) {
        margin-bottom: 45px;
    }
}
.close-application{
    width: 500px;
    position: relative;
    img {
        position: absolute;
        right: 0;
        top: 0px;
        cursor: pointer;
    }
    img:hover {
        transition: 0.8s;
        transform: rotate(720deg);
    }
}

.application-title {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 35px;
    img {
        margin-right: 30px;
    }
		&_text {
            display: flex;
            flex-direction: column;
            h2 {
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                color: $title;
                margin-bottom: 13px;
            }
            p {
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: $subtext;
            }
		}
}
.modal-backCall {
}
.btn-fon {
}
.popup-btn_wrap {
    text-align: center;
		&_wrap {
		}
}

.popup-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}