@import './variable';
@import './common/media';


.popup-group {
    // position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    // подумать
}
.popup-group_active {
    position: fixed;
}
.personal-data {
    margin-top: 34px;
    p {
        width: 396px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center; 
        color: #4F4F4F;
        a {
            outline: none;
            color: #4F4F4F;
        }
    }
}

.popup-application {
    position: fixed;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
    display: none;
    z-index: 99999;

}

.popup-application_active {
    display: block;
}
.application-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: url(/general/css/img/fon-modal.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 20px 20px 53px 33px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        padding: 19px 150px 14px 30px;
        border: 1px solid #3882C2;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    input:nth-child(4) {
        margin-bottom: 45px;
    }
}
.close-application{
    width: 500px;
    position: relative;
    img {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    img:hover {
        transition: 0.8s;
        transform: rotate(720deg);
    }
}

.application-title {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 35px;
    img {
        margin-right: 30px;
    }
		&_text {
            display: flex;
            flex-direction: column;
            h2 {
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                color: $title;
                margin-bottom: 13px;
            }
            p {
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: $subtext;
            }
		}
}

.popup-btn_wrap {
    text-align: center;
		&_wrap {
		}
}

//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .application-container{
        width: 100%;
        height: 100%;
    }
}
//767px
@include media-tablet {
    .application-container {
        padding: 20px 20px 20px 20px;
    }
    .close-application {
        width: 100%;
        img {
            top: 5px;
            right: 5px;
        }
    }
    .application-title {
        img {
            width: 80px;
            margin-right: 15px;
        }
        &_text {
            h2 {
                font-size: 32px;
            }
            p {
                font-size: 15px;
            }
        }
    }
}
@include media-custom (630px) {
    .popup-application {
        width: 100%;
    }
}
//480px
@include media-mobile {
    .personal-data {
        p {
            width: 100%;
        }
    }
    .application-title_text {
        h2 {
            font-size: 24px;
            margin-bottom: 0;
        }
        p {
            br {
                display: none;
            }
        }
    }
    .application-title {
        margin-bottom: 25px;
    }
    .application-container {
        form {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }

}
@include media-custom (350px) {
    .application-title {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
//320px
@include media-mobile-small {
   
}