
.btn-fon {
    transform: skew(-10deg);
    background: linear-gradient(180deg, #FFCF00 0%, #FFB800 100%);
    padding: 10px 30px;
    // width: 256px;
    // height: 50px;
    cursor: pointer;
    text-align: center;

}
.btn-fon:active {
    background: linear-gradient(180deg, #FFB800 0%, #EB9E0A 100%);
    filter: none;
}
.btn-fon:hover {
    filter: drop-shadow(0px 10px 30px rgba(7, 74, 132, 0.5));
}
.btn-wrap {
    transform: skew(10deg);
    // margin-top: 5px;
}
.btn-style {
    outline: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color:#333333;
    cursor: pointer;
}
.btn-top {
    margin-top: 5px;
}