@import './variable';
@import './common/media';

.popup-email {
    position: fixed;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
    display: none;
    z-index: 9999;
}
.popup-email_active{
    display: block;
}
.popup-wrap {
    background: #ffffff;

}
.close-email {
    width: 500px;
    position: relative;
    img {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 48px;
        cursor: pointer;
    }
    img:hover {
        transition: 0.8s;
        transform: rotate(720deg);
    }
}
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 81px 74px 82px;
    img {
        margin-bottom: 25px;
    }
    h2 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: $title;
        margin-bottom: 15px;
    }
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $subtext;
    }
}



//480px
@include media-mobile {
    .close-email {
        width: 100%;
    }
    .popup-content {
        padding: 54px 60px 60px 60px;
        h2 {
            font-size: 30px;
        }
    }

}
