@import './variable';
@import './common/media';


.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display:none;
    z-index: 999999;
}
.popup-bg_active{
    display: block;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    padding-top: 60px;
    img {
        cursor: pointer;
    }
    .close {
        width: 58px;
        height: 58px;
        background: #ffffff;
        border-radius: 100%;
    }
}
.close-popup {
    position: absolute;
    top: 0px;
    right: 30px;
}

.swiper-container2 {
    
}
.swiper-slide {
}
.slider-wrap {
    &__content2 {
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

}
.swiper-button-prev {
}
.swiper-button-next {
}



// youtube

// youtube






@include media-custom (1070px) {
    .slider-wrap {
        &__content2 {
            width: 300px;
        }
    
    }
}
@include media-custom (992px) {
    .slider-wrap {
        &__content2 {
            width: 100%;
            img {

            }   height: 100%;
        }
    
    }
}