@import './variable';
@import './common/media';

.swiper-container {
    width: 1190px;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    // background-color: #0066B3;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 56px;
    min-height: 56px;
    // border-radius: 100%;
}
.swiper-button-prev {
    background-image: url(../../css/img/svg/arrow-back.svg);
    transform: translateY(-10px);
}

.swiper-button-next {
    background-image: url(../../css/img/svg/arrow-next.svg);
    transform: translateY(-10px);

}

@include media-custom (1230px) {
    .swiper-container {
        max-width: 1160px;
    }
}
//1200px
@include media-laptop {
    .swiper-container {
        max-width: 992px;
    }
}
//992px
@include media-tablet-horizontal {
    .swiper-container {
        max-width: 767px;
    }
}
//767px
@include media-tablet {
    .swiper-container {
        max-width: 480px;
    }
}
//480px
@include media-mobile {
    .swiper-container {
        max-width: 320px;
    }
}
//320px
@include media-mobile-small {
   
}