@import './variable';
@import './common/media';

.business {
    padding-top: 50px;
}
.business-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
.business-block {
    margin-right: 124px;
    h2 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: $title2;
        margin-bottom: 39px;
    }
		&_text {
            margin-bottom: 39px;
            p {
                width: 500px;
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $subtext;
                margin-bottom: 20px;
            }
            p:nth-child(2){
                margin-bottom: 0px;
            }
        }

}
.business-btn {
    text-align: center;
    cursor:pointer;
}
.business-block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 604px;
        height: 416px;
        object-fit: contain;
    }
    a {
        position: absolute;
        padding-top: 155px;
        img {
            width: 84px;
            height: 84px;
        }
    }
}
.business-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 604px;
    height: 416px;
    background: #828282;
    cursor: pointer;
}

@include media-custom (1300px){
    .business-container{
        justify-content: space-between;
    }
    .business-block{
        margin-right: 0;
    }
}

//1200px
@include media-laptop {
    .business-img{
        width: 500px;
        height: 360px;
    }
}
@include media-custom (1170px) {
    .business-container{
        flex-direction: column;
    }
    .business-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 70px;
        h2 {
            margin-bottom: 20px;
        }
        &_text {
            margin-bottom: 25px;
            p {
                width: 100%;
            }
        }
    }
}
@include media-custom (1052px) {

}
//992px
@include media-tablet-horizontal {
    
}
//767px
@include media-tablet {
    .business-block2{
        width: 100%;
    }
    .business-img{
        width: 100%;
    }
}
@include media-custom (650px) {
    .business-block2{
        img {
            width: 100%;
            height: 470px;
        }
    }
}
@include media-custom (520px) {
    .business-block{
        h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        &_text {
            p {
                font-size: 16px;
                width: 100%;
            }
        }
    }
    .business-block2{
        img {
            height: 370px;
        }
    }
}
//480px
@include media-mobile {
    .business-block{
        h2 {
            font-size: 22px;
        }
    }
    .business-block2{
        img {
            height: 300px;
        }
        a {
            padding-top: 106px;
        }
    }
}
@include media-custom (380px) {
    .business-img {
        height: 300px;
    }
}
//320px
@include media-mobile-small {
   
}