@import './variable';
@import './common/media';


.gallery {
    padding-top: 70px;
}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 0px 140px;
}
.gallery-content-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 1.2s;
}

.gallery-content-project_invite {
    display: block;
}
.close-gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    img {
        width: 57px;
        height: 57px;
        cursor: pointer;
    }
    img:hover {
        transition: 0.8s;
        transform: rotate(720deg);
    }
}
.gallery-title {
    margin-bottom: 42px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $gray3;
        margin-bottom: 20px;
        span {
            color: $span;
        }
    }
    h2 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: $title2;
    }
}
.gallery-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    margin-bottom: 31px;
        &__wrap {
            display: flex;
            // width: 100%;
            flex-direction: row;
            justify-content: flex-start; 
            margin-top: 10px;

        }
        &__video {

            a {
                img {
                    width: 84px;
                }
            }
        }
		&__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            cursor: pointer;
            margin-right: 18px;
            &_play {
                position: absolute;
                left: 100px;
                cursor: pointer;
            }
        }
        a {
            position: absolute;
            left: 100px;
            cursor: pointer;
        }

		&__video {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            cursor: pointer;
            margin-right: 18px;
        }
        &__video:nth-child(4){
            margin-right: 0;
        }
}
.gallery-btn {
    width: 100%;
    align-items: flex-start;

}



@include media-custom (1354px) {
    .gallery-container {
        padding: 0px 0px;
    }
}

@include media-custom (1286px) {
    .gallery-content {
        &__wrap {
            width: 900px;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__img {
            margin-top: 15px;
        }
        &__video{
            margin-top: 15px;
            margin-right: 15px;
        }
        &__video:nth-child(2){
            margin-right: 0;
        }
    }
}
//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .gallery-content{
        &__wrap {
            width: 700px;
        }
    }
}
//767px
@include media-tablet {
    .gallery-title{
        margin-bottom: 30px;
        h2 {
            text-align: center;
            width: 100%;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .gallery-content{
        &__wrap {
            width: 100%;
        }
        a {
            left: 80px;
        }
        &__img {
            width: 230px;
            &_play {
                left: 80px;
            }
        }
        &__video {
            width: 230px;
        }
        &__video:nth-child(2){
            margin-right: 10px;
        }
        &__video:nth-child(4){
            margin-right: 10px;
        }
    }
}
@include media-custom (517px) {
    .gallery-content{
        a {
            left: 60px;
        }
        &__img {
            width: 200px;
            &_play {
                left: 60px;
            }
        }
        &__video {
            width: 200px;
        }
    }
}
//480px
@include media-mobile {
    .gallery-content-project {
        width: 100%;
    }
    .gallery-title{
        margin-bottom: 20px;
        h2 {
            font-size: 22px;
        }
    }
    .gallery-container{
        align-items: center;
    }
    .gallery-content {
        a {
            left: 170px;
        }
        &__wrap {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        &__img {
            width: 100%;
            margin-right: 0;
            &_play {
                left: 170px;
            }
        }
        &__video {
            width: 100%;
            margin-right: 0;
        }
        &__video:nth-child(2){
            margin-right: 0px;
        }
        &__video:nth-child(4){
            margin-right: 0px;
        }
    }
}
@include media-custom (440px) {
    .gallery-content{
        a {
            left: 160px;
        }
    }
}
@include media-custom (440px) {
    .gallery-content{
        a {
            left: 150px;
        }
        &__img {
            &_play {
                left: 150px;
            }
        }
    }
}
@include media-custom (400px) {
    .gallery-content{
        a {
            left: 140px;
        }
        &__img {
            &_play {
                left: 140px;
            }
        }
    }
}
@include media-custom (380px) {
    .gallery-content{
        a {
            left: 135px;
        }
        &__img {
            &_play {
                left: 135px;
            }
        }
    }
}
@include media-custom (360px) {
    .gallery-content{
        a {
            left: 130px;
        }
        &__img {
            &_play {
                left: 130px;
            }
        }
    }
}
@include media-custom (350px) {
    .gallery-content{
        a {
            left: 115px;
        }
        &__img {
            &_plau {
                left: 115px;
            }
        }
    }
}
@include media-custom (330px) {
    .gallery-content{
        a {
            left: 100px;
        }
        &__img {
            &_play {
                left: 100px;
            }
        }
    }
}
//320px
@include media-mobile-small {
   
}