@import './variable';
@import './common/media';

.general {
    padding-top: 74px;
    padding-bottom: 130px;
}
.general-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.general-block1 {
}
.general-img {
    width: 604px;
    height: 585px;
    background: #828282;
}
.general-block2 {
    display: flex;
    flex-direction: column;
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $gray3;
        margin-bottom: 20px;
        span {
            color: $span;
        }
    }
    h2 {
        width: 487px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: $title2;
        margin-bottom: 40px;
    }
    p:nth-child(3){
        width: 487px;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $subtext;
        margin-bottom: 51px;
    }
}
.general-btn {

		&_wrap {
		}
}

//1200px
@include media-laptop {
    .general-img {
        width: 500px;
        height: 360px;
    }
}
@include media-custom (1052px) {
    .general{
        padding-bottom: 80px;
    }
    .general-container{
        flex-direction: column-reverse;
    }
    .general-block2{
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        p:nth-child(1) {
            width: 100%;
            text-align: left;
        }
        h2 {
            width: 100%;
            text-align: left;
        }
        p:nth-child(3) {
            text-align: center;
            width: 670px;
        }
    }
}
//992px
@include media-tablet-horizontal {
    
}
//767px
@include media-tablet {
    .general{
        padding-top: 40px;
    }
    .general-img{
        width: 100%;
    }
    // .general-img{
    //     width: 100%;
    // }
    .general-block2{
        h2 {
            font-size: 28px;
        }
        p {
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 30px;
        }
        p:nth-child(3) {
            width: 100%;
            margin-bottom: 25px;
            font-size: 16px;
        }
    }
}
//480px
@include media-mobile {
.general-block2{
    h2 {
        font-size: 22px;
        line-height: 30px;
    }
}
}
//320px
@include media-mobile-small {
   
}