@import './variable';
@import './common/media';

.maps {
    padding-top: 80px;
    padding-bottom: 65px;
}
.maps-container {
    width: 100%;
    height: 596px;
}


//1200px
@include media-laptop {
    .maps {
        padding-bottom: 40px;
    }
}
//992px
@include media-tablet-horizontal {
    .maps {
        padding-top: 40px;
    }
}
//767px
@include media-tablet {
    .maps{
        padding-bottom: 20px;
    }
}
//480px
@include media-mobile {

}
//320px
@include media-mobile-small {
   
}