@import './variable';
@import './common/media';

.person {
    padding-top: 70px;
}
.person-container {
    h1 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: $subtext;
        margin-bottom: 20px;
    }
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 20px;
        color: $subtext;
        span {
            color: red;
        }
    }
}
@include media-custom (360px) {
    .person-container {
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
}