@import './variable';
@import './common/media';


.promo {
}
//паралаксы
.promo-container {
    height: 750px;
    position: relative;
    overflow: hidden;
}
.promo-container2 {
    display: none;
}
.promo-paralax-fon {

    position: absolute;
    background-image: url(/css/img/promo-fon.png);
    background-position: top 60% right 15%;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    
}
.promo-paralax-track {
    position: absolute;
    background-image: url(/css/img/track.png);
    background-position: top 0% right 20%;
    background-repeat: no-repeat;
    background-size: 45%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease; 
}
.promo-paralax-elem {
    position: absolute;
    background-image: url(/css/img/promo-elem.png);
    background-position: top 14% right 47%;
    background-repeat: no-repeat;
    background-size: 26%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    &_text {
        transform: translate(730px, 130px);
        max-width: 207px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.promo-content {
    display: flex;
    flex-direction: column;// подумать

}
// блок с кнопкой
.promo-block {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
        width: 578px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        color: $title2;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p {
        width: 447px;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $subtext;
        margin-bottom: 40px;
    }
}
.promo-btn {
}


//подвал
.promo-bottom {
    // width: 1255px;
    // height: 118px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo-wrap {
    width: 1255px;
    background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
    transform: skew(-15deg);
    padding-bottom: 23px;
    padding-top: 17px;
}
.promo-bottom_wrap {
    // width: 1255px;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    transform: skew(15deg);
}

.promo-bottom_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    img {
        margin-right: 16px;
        
    }
    p {
        display: block;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-right: 23px;
    }
}
.promo-bottom_item::after {
    content: "";
    height: 78px;
    color: #ffffff;
    transform: rotate(21deg);
    border: 1px solid #3882C2;
}

.promo-bottom_item:nth-child(4) {
    &::after {
        display: none;
    }
    p {
        margin-right: 0;
    }
}

@include media-custom (1500px) {
    .promo-paralax-elem{
        &_text {
            transform: translate(703px, 130px);
        }
    }
}
@include media-custom (1452px){
    .promo-paralax-elem{
        &_text {
            transform: translate(680px, 120px);
        }
    }
}
@include media-custom (1410px) {
    
    .promo-paralax-elem{
        &_text {
            transform: translate(656px, 120px);
        }
    }
}
@include media-custom (1369px) {
    .promo-paralax-elem{
        &_text {
            transform: translate(636px, 120px);
        }
    }
    .promo-paralax-track{
        background-position: top 0% right 12%;
    }
}
@include media-custom (1342px) {
    .promo-paralax-elem{
        &_text {
            transform: translate(620px, 120px);
        }
    }
}
@include media-custom (1318px) {
    .promo-paralax-elem {
        &_text {
            transform: translate(608px, 120px);
        }
    }
}
@include media-custom (1299px) {
    .promo-paralax-elem {
        background-position: top 16% right 47%;
        &_text {
            font-size: 20px;
            transform: translate(598px, 120px);
        }
    }
    .promo-container{
        height: 680px;
    }
    .promo-paralax-fon{
        background-position: top 58% right 15%;
    }
    .promo-paralax-track{
        background-position: top 0% right 12%;
        background-size: 46%;
    }
    .promo-wrap{
        width: 1150px;
    }
    .promo-bottom_item{
        margin-right: 23px;
        p {
            margin-right: 6px;
        }
    }
}
@include media-custom (1249px) {
    .promo-paralax-elem{
        &_text {
            transform: translate(578px, 120px);
        }
    }
}
@include media-custom (1222px) {
    .promo-paralax-elem {
        &_text {
            transform: translate(566px, 120px);

        }
    }
}
//1200px
@include media-laptop {
    .promo-paralax-fon{
        background-position: top 63% right 10%;

    }
    .promo-paralax-track{
        background-position: top 0% right 0%;
        background-size: 51%;
    }
    .promo-paralax-elem{
        background-position: top 16% right 43%;
        &_text {
            transform: translate(584px, 122px);
        }
    }
    .promo-block{
        h1 {
            font-size: 44px;
        }
    }
    .promo-wrap {
        width: 98%;
    }
}
@include media-custom (1179px) {
    .promo-container {
        height: 530px;
    }
    .promo-paralax-elem {
        background-size: 23%;

        &_text {
            transform: translate(583px, 97px);
            font-size: 16px;
            max-width: 188px;
        }
    }
    .promo-paralax-fon{
        background-position: top 72% right 10%;
        background-size: 53%;
    }
    .promo-paralax-track{
         background-size: 44%;
    }
}
@include media-custom (1144px) {
    .promo-paralax-elem{
        &_text {
            transform: translate(564px, 97px);
        }
    }
}
@include media-custom (1114px) {
    .promo-paralax-elem {
        &_text {
            transform: translate(552px, 97px);
        }
    }
}
@include media-custom (1093px) {
    .promo-paralax-elem {
        &_text {
            transform: translate(542px, 95px);
        }
    }
}
@include media-custom (1080px) {
     .promo-paralax-elem {
         &_text {
            transform: translate(533px, 95px);
         }
     }
     .promo-bottom_item{
         img {
             margin-right: 10px;
         }
     }
}
@include media-custom (1070px) {
    .promo-content {
        align-items: center;
    }
    .promo-container {
        display: none;
    }
    .promo-container2{
        display: block;
        img {
            max-width: 767px;
        }
        p {
            width: 207px;
            font-family: Play;
            position: absolute;
            top: 166px;
            left: 22%;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 150%;
            text-transform: uppercase;
            color: #ffffff;
        
        }
    }
    .promo-block {
        position: relative;
        top: 0;
        margin-bottom: 30px;
        p {
            margin-bottom: 30px;
        }
    }
    .promo-bottom_item{
         P{
             font-size: 14px;
         }
    }

}
@include media-custom (1024px) {
    .promo-block {
        align-items: center;
        text-align: center;
    }
}
//992px
@include media-tablet-horizontal {
    .promo-bottom_item::after {
        display: none;
    }

    .promo-bottom_item{
        margin-right: 10px;
    }
    .promo-block {
        margin-bottom: 20px;
        p {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 36px;
        }
    }

}
@include media-custom (960px) {
    .promo-bottom_wrap{
        width: 600px;
        flex-wrap: wrap;
    }
    .promo-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promo-bottom_item:nth-child(2){
        margin-right: 40px;
    }
    .promo-bottom_item:nth-child(3){
        margin-right: 60px;
        margin-top: 10px;
    }
    .promo-bottom_item:nth-child(4){
        margin-right: 40px;
        margin-top: 10px;
    }
}
@include media-custom (960px) {
    .promo-container2{
         p {
             left: 19%;
         }
    }
}
@include media-custom (841px) {
    .promo-container2{
        p {
            left: 16%;
        }
   }
}
@include media-custom (769px) {
    .promo-container2 {
        img {
            width: 100%;
        }
        p {
            width: 172px;
            top: 157px;
            left: 14%;
            font-size: 16px;
        }
    }
    
}

//767px
@include media-tablet {

}
@include media-custom (745px) {
    .promo-container2{
        p {
            top: 152px;
        }
   }
}
@include media-custom (745px) {
    .promo-container2{
        p {
            top: 143px;
        }
   }
}
@include media-custom (709px) {
    .promo-container2{
        p {
            top: 141px;
        }
   }
}
@include media-custom (680px) {
    .promo-container2{
        p {
            top: 136px;
        }
   }
   .promo-bottom_wrap{
       width: 500px;
   }
   .promo-block {
       margin-bottom: 15px;
       p {
           margin-bottom: 15px;
       }
       h1 {
           width: 450px;
           margin-bottom: 5px;
       }
   }
}
@include media-custom (651px) {
    .promo-container2{
        p {
            top: 126px;
        }
    }
}
@include media-custom (617px) {
    .promo-container2{
        p {
            top: 120px;
        }
    }
}
@include media-custom (589px) {
    .promo-container2{
        p {
            width: 140px;
            top: 112px;
            font-size: 14px;
        }
    }
}
@include media-custom (580px) {
    .promo-bottom_wrap{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        transform: skew(0deg);
    }
    .promo-wrap{
        background: none;
        transform: skew(0deg);
        padding-bottom: 0;
    }
    .promo-bottom_item{
        width: 450px;
        margin-top: 10px;
        margin-right: 0;
        justify-content: center;
        text-align: left;
        background: linear-gradient(182deg, rgba(214,240,251,0.7) 0.37%, rgba(161,209,251,0.7) 149.49%, rgba(161,209,251,0.7) 149.49%);
        transform: skew(-20deg);
        padding: 20px 0px;
        img {
            margin-right: 15px;
            transform: skew(20deg);

        }
        p {
            transform: skew(20deg);
            margin-right: 0;
        }
    }
    .promo-bottom_item:nth-child(1) {
        img {
            margin-right: 25px;
            margin-left: 20px;
        }
    }
    .promo-bottom_item:nth-child(2) {
        margin-right: 0;
        img {
            margin-right: 20px;
            margin-left: 0px;
        }
    }
    .promo-bottom_item:nth-child(3) {
        margin-right: 0;
        img {
            margin-right: 25px;
            margin-left: 0px;
        }
    }
    .promo-bottom_item:nth-child(4) {
        margin-right: 0;
        img {
            margin-right: 25px;
            margin-left: 10px;
        }
    }
}
@include media-custom (560px) {
    .promo-container2{
        p {
            top: 107px;
        }
    }
    .promo-wrap{
        padding-top: 0;
    }
}
@include media-custom (540px) {
    .promo-container2{
        p {
            top: 104px;
            font-size: 12px;
        }
    }
}
@include media-custom (510px) {
    .promo-container2{
        p {
            top: 97px;
        }
    }
    .promo-bottom_item {
        width: 100%;
    }
}
//480px
@include media-mobile {
    .promo-container2{
        p {
            top: 88px;
        }
    }
    .promo-block {
        h1 {
            width: 100%;
            font-size: 32px;
        }
        p {
            width: 100%;
            font-size: 16px;
        }
    }
    .promo-bottom_item:nth-child(1) {
        margin-top: 0;
    }
}
@include media-custom (447px) {
    .promo-container2{
        p {
            top: 82px;
        }
    }
}
@include media-custom (429px) {
    .promo-container2 {
        p {
            width: 100px;
            font-size: 10px;
            left: 15%;
        }
    }
}
@include media-custom (415px) {
    .promo-block{
        h1 {
            font-size: 28px;
        }
        p {
            font-size: 14px;
        }
    }
    .promo-container2{
        p {
            top: 78px;
        }
    }
}
@include media-custom (395px) {
    .promo-container2{
        p {
            top: 72px;
        }
    }
}
@include media-custom (372px) {
    .promo-container2{
        p {
            top: 70px;
            left: 16%;
            font-size: 8px;
            width: 90px;
        }
    }
    .promo-block{
        h1 {
            font-size: 26px;
        }
    }
}
@include media-custom (372px) {
    .promo-container2{
        p {
            top: 65px;
        }
    }
}

@include media-custom (348px) {
    .promo-block{
        h1 {
            font-size: 24px;
        }
    }
}
@include media-custom (335px) {
    .promo-container2{
        p {
            top: 62px;
        }
    }
}
@include media-custom (325px) {
    .promo-container2{
        p {
            top: 60px;
        }
    }
    .promo-block {
        h1 {
            font-size: 22px;
        }
    }
}
//320px
@include media-mobile-small {
    .promo-container2{
        p {
            top: 59px;
            width: 70px;
            font-size: 7px;
        }
    }
}