@import './variable';
@import './common/media';


.promo {
}
//паралаксы
.promo-container {
    height: 750px;
    position: relative;
    overflow: hidden;
}
.promo-paralax-fon {

    position: absolute;
    background-image: url(/css/img/fon-paral.jpg);
    background-position: top 60% right 15%;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    
}
.promo-paralax-track {
    position: absolute;
    background-image: url(/css/img/track.png);
    background-position: top 0% right 20%;
    background-repeat: no-repeat;
    background-size: 45%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease; 
}
.promo-paralax-elem {
    position: absolute;
    background-image: url(/css/img/promo-elem.png);
    background-position: top 14% right 47%;
    background-repeat: no-repeat;
    background-size: 26%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    &_text {
        transform: translate(730px, 130px);
        max-width: 207px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.promo-content {
    display: flex;
    flex-direction: column;// подумать

}
// блок с кнопкой
.promo-block {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
        width: 578px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        color: $title2;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p {
        width: 447px;
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $subtext;
        margin-bottom: 40px;
    }
}
.promo-btn {
}


//подвал
.promo-bottom {
    // width: 1255px;
    // height: 118px;
    max-width: 1255px;
    display: flex;
    align-items: center;
    margin-left: 120px;
    background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
    transform: skew(-25deg);
    padding-bottom: 23px;
    padding-top: 17px;
}
.promo-bottom_wrap {
    // width: 1255px;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    transform: skew(25deg);
    padding-left: 50px;
}

.promo-bottom_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    img {
        margin-right: 16px;
        
    }
    p {
        display: block;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-right: 23px;
    }
}
.promo-bottom_item::after {
    content: "";
    height: 78px;
    color: #ffffff;
    transform: rotate(21deg);
    border: 1px solid #3882C2;
}

.promo-bottom_item:nth-child(4) {
    &::after {
        display: none;
    }
    p {
        margin-right: 0;
    }
}

