@import './variable';
@import './common/media';

.run {
    // width: 100%;
}
.run-container {
    // width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}
.run-block {
    width: 100%;
    height: 490px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
.run-block2 {
    display: none;
}
.run-block__fon {
    background-image: url(../../css/img/fon-paral-run.png);
    position: absolute;
    background-position: top 93% right 7%;
    background-repeat: no-repeat;
    background-size: 49%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    // right: 0;
    z-index: 7;
}
.run-block__player {
    position: absolute;
    background-image: url(../../css/img/player-paral-run.png);
    background-position: top 100% right 24%;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease; 
    z-index: 7;
    // right: 0;

}
.run-block-content {
    width: 900px;
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 40px;
    background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
    transform: skew(-10deg);
    z-index: 9;
    h3 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: $title;
        margin-bottom: 30px;
    }
}
.run-btn {
    text-align: center;
    cursor:pointer;
}
.run-block-wrap {
    transform: skew(10deg);
    padding: 40px 129px 50px 108px;
    position: relative;
    z-index: 1;
}

@include media-custom (1411px) {
    .run-block {
        height: 400px;
        &-content {
            top: 120px;
        }
    }
    .run-block__fon{
        background-size: 45%;
    }
    .run-block__player{
        background-position:  top 90% right 15%;
        background-size: 35%;
    }
}

@include media-custom (1291px){
    .run-block {
        &-content {
            top: 80px;
        }
    }
    .run-block-wrap{
        padding: 40px 129px 50px 60px;
    }
    .run-block-content{
        width: 840px;
    }
    .run-block__fon {
        background-position: top 63% right 12%;
    }
    .run-block__player {
        background-position:  top 70% right 18%;
    }
}

//1200px
@include media-laptop {
    
}
@include media-custom (1070px) {
    .run-container{
        flex-direction: column;
    }
    .run-block {
        display: none;
        height: 100%;
    }
    .run-block2{
        display: block;
        margin-top: 70px;
        z-index: 10;
    }
    .run-block-content{
        width: 550px;
        height: 455px;
        position: relative;
        justify-content: flex-end;
        transform: translateY(-180px) skew(-10deg);
        top: 0;
    }
    .run-block-wrap {
        padding: 40px 107px 50px 60px;
    }

}
//992px
@include media-tablet-horizontal {
    
}
//767px
@include media-tablet {
    .run-block2{
        margin-top: 40px;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .run-block-content{
        width: 380px;
        height: 385px;
        transform: translateY(-160px) skew(-10deg);
        left: 0px;
    }
    .run-block-wrap {
        padding: 0px 30px 50px 50px;
        h3 {
            font-size: 18px;
        }
    }
}
//480px
@include media-mobile {
    .run-block-content{
        width: 100%;
        height: 350px;
        transform: translateY(-160px) skew(0deg);
        left: 0px;
        h3 {
            margin-bottom: 20px;
        }
    }
    .run-block-wrap {
        transform: skew(0deg);
        padding: 0px 76px 30px 50px;

    }
}
@include media-custom (416px) {
    .run-block-wrap {
        padding: 0px 35px 30px 50px;

    }
}
@include media-custom (360px) {
    .run-block-wrap {
        padding: 0px 0px 30px 15px;

    }
}
//320px
@include media-mobile-small {
   
}