@import './variable';
@import './common/media';

.safety {
      background-image: url(../../css/img/shutter.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}
.safety-wrap {
      background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
}
.safety-container {
      padding-top: 70px;
      padding-bottom: 97px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.safety-elem1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
		&__video {
                  background: #828282;
                  width: 604px;
                  height: 419px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  cursor: pointer;
                  img {
                        padding-top: 172px;
                  }
		}

		&__content {
                  display: flex;
                  flex-direction: column;
            p {
                  font-family: Play;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  color: $gray3;
                  margin-bottom: 20px;

                  span {
                        color: $span;
                        padding-right: 4px;
                  }
            }
            h2 {
                  width: 396px;
                  font-family: Play;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 36px;
                  line-height: 42px;
                  color: $title;
                  margin-bottom: 30px;
            }
            span {
                  width: 500px;
                  font-family: Play;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 150%;
                  color: $subtext;
                  margin-bottom: 44px;
            }

            a {
                  cursor: pointer;
            }
		}
}
.safety-elem2 {
      margin-top: 48px;
      &__fon {
            background: linear-gradient(180deg, #3882C2 0%, #134694 100%);
            transform: skew(-20deg);
            padding: 25px 130px;
            &__content {
                  transform: skew(20deg);

                  h3 {
                  font-family: Play;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 150%;
                  color: #ffffff;
                  }
                  &_text {
                        display: flex;
                        flex-direction: row;
                        p {
                        font-family: Play;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 150%;
                        color: #ffffff;
                        margin-right: 28px;
                        }
                        a {
                        font-family: Play;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 150%;                  
                        text-decoration-line: underline;
                        color: $pdf;
                        margin-right: 9px;
                        cursor: pointer;
                        }
                        img {

                        }
                  }
            }
      }    
}
.safety-elem3 {
      margin-top: 66px;
		&__wrap {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
                  max-width: 940px;
			&_item {
                        width: 292px;
                        background: #FFFFFF;
                        margin-right: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 12px 13px 13px 0px;
                        h3 {
                        max-width: 292px;
                        font-family: Play;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        color: $title2;
                        }
                        img {
                              margin-right: 16px;
                        }
                        p {
                        font-family: Play;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: $subtext;
                        }
                  }
                  &_item:nth-child(1) {
                        background: none;
                  }
                  &_item:nth-child(3) {
                        margin-right: 0;
                  }
                  &_item:nth-child(4) {
                        margin-top: 19px;
                  }
                  &_item:nth-child(5) {
                        margin-top: 19px;
                  }
                  &_item:nth-child(6) {
                        margin-top: 19px;
                  }
		}
}
