@import './variable';
@import './common/media';

.safety {
      background-image: url(../../css/img/shutter.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}
.safety-wrap {
      background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
}
.safety-container {
      padding-top: 70px;
      padding-bottom: 97px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.safety-elem1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
		&__video {
                  background: #828282;
                  width: 604px;
                  height: 419px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  cursor: pointer;
                  img {
                        padding-top: 172px;
                  }
		}

		&__content {
                  display: flex;
                  flex-direction: column;
            p {
                  font-family: Play;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  color: $gray3;
                  margin-bottom: 20px;

                  span {
                        color: $span;
                        padding-right: 4px;
                  }
            }
            h2 {
                  width: 396px;
                  font-family: Play;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 36px;
                  line-height: 42px;
                  color: $title;
                  margin-bottom: 30px;
            }
            span {
                  width: 500px;
                  font-family: Play;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 150%;
                  color: $subtext;
                  margin-bottom: 44px;
            }

            a {
                  cursor: pointer;
            }
		}
}
.safety-elem2 {
      margin-top: 48px;
      &__fon {
            background: linear-gradient(180deg, #3882C2 0%, #134694 100%);
            transform: skew(-20deg);
            padding: 25px 130px;
            &__content {
                  transform: skew(20deg);

                  h3 {
                  font-family: Play;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 150%;
                  color: #ffffff;
                  }
                  &_text {
                        display: flex;
                        flex-direction: row;
                        p {
                        font-family: Play;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 150%;
                        color: #ffffff;
                        margin-right: 28px;
                        }
                        a {
                        font-family: Play;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 150%;                  
                        text-decoration-line: underline;
                        color: $pdf;
                        margin-right: 9px;
                        cursor: pointer;
                        }
                        img {

                        }
                  }
            }
      }    
}
.safety-elem3 {
      margin-top: 66px;
		&__wrap {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
                  max-width: 940px;
			&_item {
                        width: 292px;
                        background: #FFFFFF;
                        margin-right: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 12px 13px 13px 0px;
                        h3 {
                        max-width: 292px;
                        font-family: Play;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        color: $title2;
                        }
                        img {
                              margin-right: 16px;
                        }
                        p {
                        font-family: Play;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: $subtext;
                        }
                  }
                  &_item:nth-child(1) {
                        background: none;
                        margin-right: 0;
                  }
                  &_item:nth-child(3) {
                        margin-right: 0;
                  }
                  &_item:nth-child(4) {
                        margin-top: 19px;
                  }
                  &_item:nth-child(5) {
                        margin-top: 19px;
                  }
                  &_item:nth-child(6) {
                        margin-top: 19px;
                  }
		}
}


@include media-custom (1245px) {
      .safety-elem2{
            &__fon {
                  padding: 25px 95px;

            }
      }
}

//1200px
@include media-laptop {
    .safety-elem1 {
          &__video {
                width: 540px;
          }
    }
    .safety-elem2{
      width: 100%;
      &__fon {
            padding: 25px 20px;
            display: flex;
            width: 99%;
            flex-direction: column;
            text-align: center;
            &__content_text {
                  width: 100%;
                  justify-content: center;
                  p {
                        margin-right: 15px;
                  }
            }
      }
}
}
@include media-custom (1100px) {
      .safety-elem1{
            &__video {
                  width: 100%;
                  margin-right: 25px;
                  height: 370px;
                  img {
                        padding-top: 148px;
                  };
            }
      }
      .safety-elem2 {
            &__fon__content {
                  h3 {
                        font-size: 23px;
                  }
            }
      }
}
@include media-custom (993px) {
      .safety-elem2 {
            &__fon__content {
                  h3 {
                        font-size: 22px;
                  }
            }
      }
}
//992px
@include media-tablet-horizontal {
      .safety-container{
            padding-top: 40px;
      }
    .safety-elem3{
          &__wrap {
                width: 100%;
                &_item {
                      width: 287px;
                }
          }
    }
}
@include media-custom (963px) {
      .safety-elem1 {
            flex-direction: column-reverse;
            &__video {
                  width: 604px;
                  margin-right: 0;
            }
            &__content {
                  text-align: center;
                  align-items: center;
                  p {
                        width: 100%;
                        text-align: left;
                        margin-bottom: 15px;
                  }
                  h2 {
                        margin-bottom: 20px;
                  }
                  span {
                        margin-bottom: 20px;
                  }
            }
      }
      .safety-btn {
            margin-bottom: 30px;
      }
      .safety-elem2{
            margin-top: 30px;
      }
      .safety-elem2{
            &__fon{
                  width: 90%;
                  margin-left: 25px;
                  &__content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3 {
                              width: 480px;
                        }
                        &_text {
                              margin-top: 10px;
                              flex-direction: row;
                              width: 500px;
                              flex-wrap: wrap;
                        }
                  }
            }
      }
      .safety-elem3__wrap{
            max-width: 100%;
            &_item {
                  width: 261px;
                  p {
                        max-width: 100%;
                        font-size: 16px;
                  }
            }
      }
}
@include media-custom (883px) {
      .safety-elem3{
            margin-top: 45px;
            &__wrap {
                  width: 604px;
            }
      }
      .safety-elem3__wrap{
            &_item:nth-child(1){
                  margin-right: 20px;
            }
            &_item:nth-child(3){
                  margin-top: 19px;
                  margin-right: 20px;
            }
      }
}
//767px
@include media-tablet {
    .safety-elem3{
          &__video {
                width: 500px;
          }
    }
}
@include media-custom (650px) {
      .safety-elem1 {
            &__video {
                  width: 100%;
            }
      }
      .safety-elem2{
            &__fon {
                  width: 80%;
                  margin-left: 40px;
                  &__content {
                        h3 {
                              width: 100%;
                              font-size: 20px;
                        }
                        &_text {
                              width: 100%;
                              p {
                                    font-size: 12px;
                                    margin-right: 0;
                              }
                              a{
                                    margin-top: 10px;
                              }
                              img {
                                    margin-top: 10px;
                              }
                        }
                  }
            }
      }
      .safety-elem3{
            margin-top: 25px;
            &__wrap {
                  width: 100%;
            }
            &__video {
                  width: 100%;
            }
      }
}
@include media-custom (601px) {
      .safety-elem3__wrap {
            align-items: center;
            justify-content: center;
            flex-direction:column;
            flex-wrap: nowrap;
            &_item {
                  width: 292px;
            }
      }
      .safety-elem3__wrap_item:nth-child(1) {
            margin-right: 0;
            text-align: center;

      }
      .safety-elem3{
            margin-top: 20px;
      }
      .safety-elem2 {
            display: flex;
            justify-content: center;
            &__fon {
                  width: 430px;
                  margin-left: 0px;
                  padding: 15px 10px;
                  padding-left: 0;
            }
      }
}
@include media-custom (541px) {
      .safety-elem1{
            &__content {
                  span {
                        width: 100%;
                        font-size: 16px;
                  }
            }
      }
      .safety-elem2{

            &__fon {
                  width: 80%;
                  margin-left: 0px;
                  &__content {
                        h3 {
                              font-size: 18px;
                        }
                        &_text {
                              p {
                                    font-size: 10px;
                              }
                        }
                  }
            }
      }
}
//480px
@include media-mobile {
      .safety-elem1{
            &__content {
                  h2 {
                        width: 100%;
                        font-size: 28px;
                        margin-bottom: 10px;
                  }
            }
      }
      .safety-elem2{
            &__fon {
                  width: 100%;
                  transform: skew(0deg);
                  &__content {
                        transform: skew(0deg);
                        h3 {
                              font-size: 16px;
                        }
                        &_text {
                              a {
                                    margin-right: 5px;
                                    margin-top: 5px;
                              }
                              img {
                                    margin-top: 5px;
                              }
                        }
                  }
            }
      }
      .safety-elem3{
            &__wrap {
                  &_item {
                        margin-right: 0;
                  }
                  &_item:nth-child(3) {
                        margin-right: 0;
                  }
            }
      }
}
@include media-custom (405px) {
      .safety-elem1 {
            &__video {
                  height: 270px;
                  img {
                        padding-top: 90px;
                  }
            }
      }
      .safety-elem2{
            &__fon {
                  padding: 15px 5px;
                  &__content {
                        text-align: center;
                  }
            }
      }
      .safety-container {
            padding-top: 30px;
      }
}
@include media-custom (341px) {
      .safety-elem1 {
            &__content {
                  h2 {
                        font-size: 22px;
                        line-height: 28px;
                  }
                  span {
                        font-size: 14px;
                  }
                  p {
                        margin-bottom: 10px;
                        font-size: 14px;
                  }
            }
      }
}
//320px
@include media-mobile-small {
   
}