@import './variable';
@import './common/media';

.sity {
    // width: 100%;
}
.sity-container {
    // width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}
.sity-block {
    width: 100%;
    height: 490px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
.sity-block2{
    display: none;
}
.sity-block__fon {
    background-image: url(/css/img/sity-fon-paral.png);
    position: absolute;
    background-position: top 13% right 18%;
    background-repeat: no-repeat;
    background-size: 49%;
    width: 100%;
    height:100%;
    transition: all 0.1s ease; 
    // right: 0;
    z-index: 7;
}
.sity-block__player {
    position: absolute;
    background-image: url(/css/img/player-sity-paral.png);
    background-position: top 10% right 20%;
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease; 
    z-index: 7;
    // right: 0;

}
.sity-block-content {
    width: 900px;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 40px;
    background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
    transform: skew(-10deg);
    z-index: 9;
    h3 {
        width: 563px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: $title;
        margin-bottom: 30px;
    }
}
.sity-btn {
    width: 256px;
    height: 50px;
    text-align: center;
    cursor:pointer;
}
.sity-block-wrap {
    transform: skew(10deg);
    padding: 40px 129px 50px 108px;
    position: relative;
    z-index: 1;
}



@include media-custom (1411px) {
    .sity{
        padding-bottom: 100px;
    }
    .sity-block {
        height: 400px;
        &-content {
            top: 20px;
        }
    }
    .sity-block__fon{
        background-size: 45%;
    }
    .sity-block__player{
        background-position:  top 20% right 15%;
        background-size: 35%;
    }
}

@include media-custom (1291px){
    .sity-block {
        &-content {
            top: 40px;
        }
    }
    .sity-block-wrap{
        padding: 40px 129px 50px 60px;
    }
    .sity-block-content{
        width: 840px;
    }
    .sity-block__fon {
        background-position: top 36% right 12%;
    }
    .sity-block__player {
        background-position:  top 40% right 18%;
    }
}

//1200px
@include media-laptop {
    
}
@include media-custom (1070px) {
    .sity {
        padding-bottom: 0;
    }
    .sity-container{
        flex-direction: column;
        height: 800px;
    }
    .sity-block {
        display: none;
        height: 100%;
    }
    .sity-block2{
        display: block;
        margin-top: 70px;
        z-index: 10;
    }
    .sity-block-content{
        width: 550px;
        height: 455px;
        position: relative;
        justify-content: flex-end;
        transform: translateY(-106px) skew(-10deg);
        top: 0;
    }
    .sity-block-wrap {
        padding: 40px 0px 35px 30px;
    }

}
//992px
@include media-tablet-horizontal {
    .sity-block-content{
        h3 {
            width: 540px;
        }
    }
    .sity-block-content{
        transform: translateY(-106px) skew(0deg);
    }
    .sity-block-wrap {
        transform: skew(0deg);
        padding: 40px 0px 35px 18px;

    }
}
//767px
@include media-tablet {
    .sity-container {
        height: 830px;
    }
    .sity-block2{
        margin-top: 40px;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .sity-block-content{
        width: 380px;
        height: 385px;
        transform: translateY(-100px);
        left: 0px;
        h3 {
            width: 304px;
        }
    }
    .sity-block-wrap {
        padding: 0px 0px 50px 50px;
        h3 {
            font-size: 18px;
        }
    }
}
@include media-custom (693px) {
    .sity-block-content{
        transform: translateY(-90px);
    }
    .sity-container{
        height: 760px;
    }
}
@include media-custom (627px) {
    .sity-block-content{
        transform: translateY(-120px);
    }
}
@include media-custom (590px) {
    .sity-block2{
        margin-top: 60px;
    }
}
//480px
@include media-mobile {
    .sity-block2{
        margin-top: 15px;
    }
    .sity-container{
        height: 446px;
    }
    .sity-block-content{
        width: 100%;
        height: 350px;
        left: 0px;
        transform: translateY(-15px);
        h3 {
            margin-bottom: 20px;
        }
    }
    .sity-block-wrap {
        transform: skew(0deg);
        padding: 0px 0px 30px 50px;

    }
}
@include media-custom (416px) {

    .sity-block-wrap {
        padding: 0px 0px 30px 50px;

    }
}
@include media-custom (370px) {
    .sity-block-wrap{
        padding: 0px 0px 30px 20px;

    }
}
@include media-custom (360px) {
    .sity-block2{
        margin-top: 50px;
    }
    .sity-block-wrap {
        padding: 0px 0px 30px 15px;

    }

}

@include media-custom (335px) {
    .sity-block-wrap{
        padding: 0px 0px 30px 8px;
    }
    .sity-block-content{
        h3 {
            width: 270px;
        }
    }
}

//320px
@include media-mobile-small {
   
}