@import './variable';
@import './common/media';

.speak {
    padding-top: 100px;
}
.speak-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // position: relative;
    width: 100%;
}
.speak-title {
    margin-bottom: 38px;
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $gray3;
        margin-bottom: 20px;
        span {
            color: $title;
        }
    }
    h2 {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: $title2;
    }
}
.speak-slider {
    // max-width: 1188px;
    // display: flex;
    // flex-direction: row;
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-wrap {
    width: 396px;
    background: linear-gradient(182deg, rgba(214, 240, 251, 0.7) 0.37%, rgba(161, 209, 251, 0.7) 149.49%, rgba(161, 209, 251, 0.7) 149.49%);
		&__content {
            background-image: url(/general/css/img/svg/comma.svg);
            background-repeat: no-repeat;
            background-position: bottom 44% left 8%;
            background-size: 20%;
            width: 100%;
            height: 532px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 35px 0px 68px 0px;
            img {
                width: 120px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            h2 {
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 150%;
                color: $title2;
                margin-bottom: 27px;
            }
            p {
                max-width: 242px;
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: $subtext;
                margin-bottom: 42px;
            }
            p:nth-child(4) {
                max-width: 321px;
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-align: inherit;
                color: $subtext;
                margin-bottom: 0;
            }
        }
        &__content:nth-child(1) {
            p:nth-child(3) {
                max-width: 321px;
            }
        }
}
.swiper-button-prev {
}
.swiper-button-next {
}


@include media-custom (1230px) {
    .slider-wrap {
        width: 375px;
    }
}
//1200px
@include media-laptop {
    .slider-wrap {
        width: 450px;
    }
    .speak-slider {
        // max-width: 959px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider-wrap__content p:nth-child(4) {
        max-width: 350px;
    }
}
//992px
@include media-tablet-horizontal {
    // .speak-container {
    //     max-width: 760px;
    // }
    .swiper-slide{
        width: 100%;
    }
    
}
//767px
@include media-tablet {
    .speak-title{
        h2 {
            font-size: 28px;
        }
    }
    .speak {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .slider-wrap {
        width: 400px;
    }
}
//480px
@include media-mobile {
    .speak{
        padding-top: 70px;
    }
    .speak-title{
        margin-bottom: 25px;
        h2 {
            font-size: 22px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .slider-wrap {
        width: 320px;
        &__content {
            padding: 35px 0px 0px 0px;
            height: 430px;
            p:nth-child(4) {
                font-size: 14px;
                padding: 0px 5px;
            }
        }
        &__content:nth-child(1) {
            p:nth-child(3) {
                max-width: 300px;
            }
        }
    }
    .slider-wrap__content p:nth-child(4) {
        max-width: 300px;
    }
    .slider-wrap__content{
        h2 {
            font-size: 22px;
            margin-bottom: 12px;
        }
        p {
            font-size: 16px;
            margin-bottom: 25px;
        }

    }
}
//320px
@include media-mobile-small {
   
}