@import './variable';
@import './common/media';

.track {
    // padding-bottom: 60px;
}
.track-paralax {
    background-image: url(../../css/img/sneg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed; // паралакс под вопросом на скрол
    background-position: center center;
    padding-top: 70px;
}
.track-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

}
.track-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: $gray3;
        margin-bottom: 20px;
        span {
            color: $span;
            margin-right: 5px;
        }
    }
    h2 {
        width: 604px;
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: $title;
        margin-bottom: 42px;
    }
}
.track-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    // width: 100%;
    // align-items: flex-start;
    // justify-content: space-around;
    
}
.track-content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.track-block {
		&_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 40px;
            img {
                object-fit: cover;
                margin-right: 20px;
            }
            p {
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $subtext;
            }
        }
        &_item:nth-child(1) {
            p {
                width: 188px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 239px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 208px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 0;
            p {
                width: 292px;
            }
        }
}
.track-content-block2 {
    display: flex;
    flex-direction: column;
}
.track-block2 {
		&_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 40px;
            img {
                object-fit: cover;
                margin-right: 20px;
            }
            p {
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $subtext;
            }
        }
        &_item:nth-child(1) {
            p {
                width: 384px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 389px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 389px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 40px;
            p {
                width: 389px;
            }
        }

}

//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .track-paralax {
        background-image: none;
    }
    .track-block{
        &_item {
            flex-direction: column;
            margin-bottom: 20px;
            text-align: center;
            img {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        &_item:nth-child(1) {
            p {
                width: 188px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 239px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 208px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 0;
            p {
                width: 292px;
            }
        }
    }
    .track-block2 {
        &_item {
            flex-direction: column;
            margin-bottom: 20px;
            text-align: center;
            img {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        &_item:nth-child(1) {
            p {
                width: 384px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 389px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 389px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 40px;
            p {
                width: 389px;
            }
        }
    }
}
//767px
@include media-tablet {
    .track-title {
        p {
            margin-bottom: 15px;
        }
        h2 {
            width: 100%;
            text-align: center;
            font-size: 34px;
        }
    }
    .track-content {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@include media-custom (720px) {
    .track-content-block {
        margin-bottom: 40px;
    }
}
//480px
@include media-mobile {
    .track-title {
        h2 {
            font-size: 22px;
            line-height: 32px;
        }
    }
    .track-block{
        &_item {
            margin-bottom: 40px;
        }
        &_item:nth-child(1) {
            p {
                width: 188px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 239px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 208px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 0;
            p {
                width: 292px;
            }
        }
    }
    .track-block2 {
        &_item {
            margin-bottom: 40px;
        }
        &_item:nth-child(1) {
            p {
                width: 292px;
            }
        }
        &_item:nth-child(2) {
            p {
                width: 292px;
            }
        }
        &_item:nth-child(3) {
            p {
                width: 292px;
            }
        }
        &_item:nth-child(4) {
            margin-bottom: 40px;
            p {
                width: 292px;
            }
        }
    }
}
//320px
@include media-mobile-small {
   
}